	<section class="bg-primary" id="us">
		<div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading"><span translate="SECTION_LIFE_TITLE"></span></h2>
                    <hr class="light">
                </div>
            </div>
		</div>
		<div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Chronologie</h2>
                    <h3 class="section-subheading text-muted">Moments fleuris</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline ">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017</h4>
                                    <h4 class="subheading">Nerima</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Déménagement à Nerima</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">Mariage</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Mariage en France</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011-2015</h4>
                                    <h4 class="subheading">Ichinomiya</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Le temps d'Ichinomiya</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Pré-Japon</h4>
                                    <h4 class="subheading">En France</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A l'autre bout du monde</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><span>Début</span>
                                    <br /><span>de notre</span>
                                    <br /><span>aventure !</span>
								</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </section>

    <section id="pets">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading"><span translate="SECTION_PETS_TITLE"></span></h2>
                    <hr class="primary" />
                </div>
            </div>
        </div>
		
		<div class="container">
            <div class="row text-center margin-top-50">
                <div class="col-lg-5 col-sm-6 col-xs-6">
                    <h3><span translate="RAMSES"></span></h3>
					<p class="text-muted"><span translate="RAMSES_DESC"></span></p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6 col-xs-6" ng-click="displayRamses();">
					<i class="fa fa-4x fa-paw text-primary sr-icons"></i>
                    <!--img class="img-responsive" src="img/ipad.png" alt=""-->
                </div>
            </div>
        
            <div class="row text-center margin-top-50">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6 col-xs-push-6 col-xs-6">
                    <h3><span translate="FREDDY"></span></h3>
					<p class="text-muted"><span translate="FREDDY_DESC"></span></p>
                </div>
                <div class="col-lg-5 col-sm-pull-6 col-sm-6 col-xs-pull-6 col-xs-6" ng-click="displayFreddy();">
					<i class="fa fa-4x fa-cutlery text-primary sr-icons"></i>
                    <!--img class="img-responsive" src="img/dog.png" alt=""-->
                </div>
            </div>
			
			<div class="row text-center margin-top-50">
                <div class="col-lg-5 col-sm-6 col-xs-6">
                    <h3><span translate="ULALA"></span></h3>
					<p class="text-muted"><span translate="ULALA_DESC"></span></p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6 col-xs-6" ng-click="displayUlala();">
					<i class="fa fa-4x fa-paw text-primary sr-icons"></i>
                    <!--img class="img-responsive" src="img/ipad.png" alt=""-->
                </div>
            </div>
        
            <div class="row text-center margin-top-50">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6 col-xs-push-6 col-xs-6">
                    <h3><span translate="HAMSTER"></span></h3>
					<p class="text-muted"><span translate="HAMSTER_DESC"></p>
                </div>
                <div class="col-lg-5 col-sm-pull-6 col-sm-6 col-xs-pull-6 col-xs-6">
					<i class="fa fa-4x fa-glass text-primary sr-icons"></i>
                    <!--img class="img-responsive" src="img/dog.png" alt=""-->
                </div>
            </div>
			
        </div>

    </section>